@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*{
    box-sizing: border-box;
    max-width: 100%;
    font-family: "Manrope", sans-serif;
}



:root{
    --color-bg: #F3F6FF;
    --color-secondary: #EFF2FC;
    --color-divider-border: #E2E5F1;
    --color-forms-border: #D4D7E5;
    --color-input-placeholder: #B4B7C9;
    --color-muted-text: #9397AD;
    --color-body-text: #565973;
    --color-navigation: #33354D;
    --color-heading-dark: #0B0F19;
    --box-shadow: #37393d0e;

    --button-text: #FFFFFF;

    --button-text: #FFFFFF;

    --color-primary: #6366F1;
    --color-description: #585C7B;

    --download-button-color: #131022;
    --download-button-text: #FFFFFF;
    --apple-logo: #FFFFFF;

    --toggle-switch: #ffffff;
    --toggle-switch-bg: #6366F1;

    --brand-border: #E2E5F1;
    --brand-background: #ffffff;

    --feature-icon-box: #F3F6FF;

    --HDIT-bg: #f3f6ff;

    --app-feature-title: #0B0F19;
    --app-feature-description: #585C7B;
    
    --testimonials-bg: #f3f6ff;
    --testimonials-box: #FFFFFF;

    --faq-arrow-bg: #F3F6FF;
    --faq-arrow: #33354D;
    --faq-arrow-open-bg: #6366F1;
    --faq-arrow-open: #FFFFFF;
    --faq-box-border: #F3F6FF;
    --faq-text: #585C7B;
    
    --contact-box-border: #E2E5F1;
    --contact-text: #ffffff;
    --contact-call-us: #6366F1;
    --contact-message-us: #22C55E;
    --newsletter-box: #F3F6FF;
    --email-box:#ffffff;
    --email-subscribe: #ffffff;

    --footer-text: #9397AD;
}



img, svg{
    max-width: 100%;
    height: auto;
}



body{
    margin: 0px;
    padding: 0;
    background-color: var(--color-body);
    width: 100%;
}



.dark{
    color-scheme: dark;
    --color-body: #06112d4a;
    --color-bg: #0B0F19;
    --color-secondary: #EFF2FC;
    --color-divider-border: #E2E5F1;
    --color-forms-border: #D4D7E5;
    --color-input-placeholder: #B4B7C9;
    --color-muted-text: #9397AD;
    --color-body-text: #565973;
    --color-navigation: #33354D;
    --color-heading-dark: #FFFFFF;
    --box-shadow: #00000000;

    --button-text: #FFFFFF;

    --color-primary: #6366F1;
    --color-description: #585C7B;

    --download-button-color: #F3F6FF;
    --download-button-text: #33354D;
    --apple-logo: #33354D;


    --toggle-switch: #ffffff;
    --toggle-switch-bg: #6366F1;

    --brand-border: #E2E5F1;
    --brand-background: #131022;

    --feature-icon-box: #1c202aaa;

    --HDIT-bg: #1c202aaa;

    --app-feature-title: #FFFFFF;

    --testimonials-bg: #1c202aaa;
    --testimonials-box: rgba(255, 255, 255, 0.04);

    --faq-box-mobile: #131022;
    --faq-box: #1c202aaa;
    --faq-description: #131022;
    --faq-arrow-bg: #F3F6FF;
    --faq-arrow: #33354D;
    --faq-arrow-open-bg: #6366F1;
    --faq-arrow-open: #FFFFFF;
    --faq-box-border: #ffffff30;
    --faq-text: #ffffffbc;

    --newsletter-box: #1c202aaa;
    --email-box: #ffffff;
    --email-subscribe: #ffffff;
    --email-input-border: #D4D7E5;
    --footer-text: #9397AD;

}



p {
    line-height: 22px;
}



button{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 162px;
    max-width: 100%;
    background-color: var(--color-primary);
    color: var(--button-text);
    border: none;
    border-radius: 6px;

    &:hover{
        background-color: black;
    }
    &:active{
        background-color: rgb(0, 185, 40);
    }
}



.header-container { 
    width: 100%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    
    .header-area{
        display: flex;
        justify-content: space-between;
        align-items: center;
       
    }
     .actions{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1.5rem;

        .darkmode {
            display: flex;
            align-items: center;
        }

    }

    .darkmode-tablet {
        display: none;
                
    }
    .nav{
        width: 40px;
        height:36px;
        flex-shrink: 0;
        object-fit: contain;
        margin-bottom: .15rem ;
    }

    .account{
        display: none;
        
        @media (width >= 1320px) {
            display: flex;
        }
    }

    .btn {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 162px;
        max-width: 100%;
        background-color: var(--color-primary);
        color: var(--button-text);
        border: none;
        border-radius: 6px;
        text-decoration: none;

        &:hover{
            background-color: black;
        }
        &:active{
            background-color: rgb(0, 185, 40);
        }
    }

    @media (width >= 768px) {

        .darkmode {
            gap: 1rem;
            margin-right: 2.5rem;
        }
        .darkmode-tablet {
            display: flex;
            font-size: 1rem;
            font-weight: 600;
        }
    }

    @media (width >= 1200px) {
        .nav {
            display: none;
        }
    }
}



.toggle{
    --_w: 46px;
    --_h: 24px;

    width: var(--_w);
    height: var(--_h);
    flex-shrink: none;
    position: relative;
    display: inline-block;

    input[type="checkbox"] {
        width: 0;
        height: 0;
        opacity: 0;
    }

    .slider{
        position: absolute;
        cursor: pointer;
        inset: 0;
        background-color: var(--color-muted-text);
        border-radius: 100vw;
        box-shadow: 0 0 5px #0000034e;
        transition: 400ms;

        &::before{
            content:'';
            position: absolute;
            height: 75%;
            aspect-ratio: 1;
            background-color: #fff;
            border-radius: 50%;
            box-shadow: 0 0 5px #00000038;
            transition: 400ms;
            top: 50%;
            left: 7%;
            transform: translateY(-50%);
        }
    }

    input[type="checkbox"]:checked + .slider::before {
        left: calc(100% - var(--_h));
        background-color: var(--toggle-switch);
    }
        input[type="checkbox"]:checked + .slider{
        background-color:var(--color-primary);
    }

}



.hero-background {
        background: radial-gradient(ellipse at bottom, rgba(99, 102, 241, 0.1) 0%, rgba(218, 70, 239, 0.05) 42%, rgba(0, 0, 0, 0.07) 83%);
}
#header{
    width: 100%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;

    .hero{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .hero-headline-container {

        display: flex;
        justify-content: center;
    }
    .hero-headline{

        font-weight: 900;
        color: var(--color-heading-dark);
        width:100%;
        max-width: 330px;
        font-size: 34px;
    }
    .hero-paragraph-mobile {
        font-weight: 400;
        line-height:25px;
        width: 100%;
        max-width: 600px;
        font-size: 18px;
        color: var(--color-description);
    }
    .hero-paragraph{
        font-weight: 400;
        line-height:25px;
        width: 100%;
        max-width: 600px;
        font-size: 18px;
        color: var(--color-description);
        display: none;
    }

    .app-download-btns{
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0 1rem; 
    }
    .btn-download{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 8px;
        text-decoration: none;
        width: 100%;
        max-width: none;
    }


    .download-app{
        background-color: var(--download-button-color);
        color: var(--download-button-text);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: none;
        height: 50px;
        border-radius: 6px;   
    }

    .download-content {
        margin: 10px;
    }

    .download-text-block {
        display: flex;
        flex-direction: column;
        gap: 1px; 
        align-items: flex-start;
    }

    .download-app-text {
        font-size: 12px;
        font-weight: 400;
        line-height: 1;
    }

    .download-app-bottom-text {
            font-size: 22px;
            font-weight: 600;
            line-height: 1;
    }

    .hero-phones{
        display: none;
    }
    #apple-logo {
        background-color: var(--apple-logo);
        mask: url('Icons/Apple-logo-light.svg') no-repeat center;
        mask-size: contain;
        width: 30px;
        height: 30px;
    }
    @media (width >= 768px) {
        .hero {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 3rem;
        }
        .hero-headline-container {
            display: flex;
            justify-content: center;
        }
        .hero-headline {
            width: 100%;
            max-width: 442px;
            font-size: 44px;
            line-height: 57px;
            text-align: center;
            order: 1;
        }
        .hero-content {
            margin-top: 4rem;
        }
        .hero-paragraph {
            display: flex;
            max-width: 270px;
            text-align: left;
            line-height: 29px;
            margin-top: 0;
            margin-bottom: 0rem;
        }
        .hero-paragraph-mobile {
            display: none;
        }
        .hero-phone-container {
            display: flex;
            
        }
        .hero-phones {
            display: flex;
            max-width: 390px;
        }
        .download-app-text {
            font-size: 7px ;
        }
        .download-app-bottom-text {
            font-size: 13px;
        }
        .download-app-icon {
            width: 17px;
            height: auto;
        }
        .app-download-btns {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            justify-content: flex-start;
            padding: 0;
        }
        .download-app {
            width: 126px;
            height: 40px;
                      
        }
        .btn-download {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            width: auto;
            max-width: 270px;
            justify-content: flex-start;
            padding: 0;
            padding-top: 1rem;
        }
    }

    @media (width >= 1200px) {
        .hero {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .hero-headline {
            text-align: left;
            position: relative;
            top: 100px;
            max-width: 600px;
            width: 100%;
            font-size: 56px;
        }

        .hero-phone-container {
            display: flex;
            flex-direction: row;
            width: 100%;
            gap: 4rem;
        }

        .hero-content {
            flex: 1;
        }

        .hero-phones {
            flex: 1;
            min-width: 650px;
            padding-left: 30px;
        }

        .hero-paragraph {
            min-width: 526px;
        }

        .download-app-text {
            font-size: 12px ;
        }

        .download-app-bottom-text {
            font-size: 21px;
        }

        .download-app-icon {
            width: 25px;
            height: auto;
        }

        .download-app {
            width: 180px;
            height: 52px;                      
        }
    }
}



.brand-container{
    width: 100%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;

    .brands {
        display: none;
        margin-top: 40px;

        @media (width >= 768px) {
            display: flex;
            justify-content: space-around;
            width: 100%;

            #brand-desktop1 {
                display: none;
            }
            #brand-desktop2 {
                display: none;
            }
        }

        @media (width >= 1200px) {
            #brand-desktop1 {
                display: flex;
            }
            #brand-desktop2 {
                display: flex;
            }
        }
    }

    .brand-item {
        background-color: var(--brand-background);
        border: 1px solid var(--brand-border);
        height: 99px;
        width: 158px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    brand-icon {
        width: 140px;
        height: 33px;
    }
}



.feature-top{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    max-width: 750px;
    width: 100%;

    #headline-title {
        font-size: 4rem;
    }

    @media (width >= 1200px) {

        #headline-description {
        text-align: left;
        }

        #headline-title {
            text-align: left;
            font-size: 2rem;
            font-weight: 800;
            width: 100%;
        }
    }
}

#features{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 5rem;

    .feature-container {
        display: flex;
        flex-direction: row;
        margin-top: 4rem;
    }

    .feature-boxes {
        display: flex;
        flex-direction: column;
        max-width: 746px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
    }

    .feature-phone-icon {
        display: none;
    }

    .feature-item{
        display: flex;
        align-items: flex-start;
        gap: 1rem;
    }

    .feature-icon-box{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        border-radius:  8px;
        background-color: var(--feature-icon-box);
        margin-top: 1rem;
    }

    .feature-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 28px;
        height: 28px;
        flex-shrink: 0;
        object-fit: contain;
    }

    .feature-content{
        max-width: 600px;
    }

    .feature-headline{
        font-size: 20px;
    }

    .feature-description{
        margin: 0;
        width: 100%;
        max-width: 250px;
        color: var(--color-description);
    }

    #headline-title{
        font-size: 28px;
    }

    #headline-description{
        font-size: 18px;
        color: var(--color-description);
    }

    @media (width >=768px) {
        .feature-boxes {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    } 
    
    @media (width >= 1200px) {
        .feature-container {
            gap: 12rem;
        }
        .feature-phone-icon {
            display: flex;
        }
    }
}



.HDIT-background {
    background-color: var(--HDIT-bg);
}
#how-does-it-work {
    width: 100%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 3rem;

    

    .HDIT{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .HDIT-desktop {
        display: none;
    }

    .HDIT-desktop p {
        color: var(--color-description);
    }

    .image-stack-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image-stack {
        position: relative;
        width: 270px;
        height: 545px;
        flex-shrink: 0;
    }

    .mobile-stack {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .showcase-side {
        display: none;
    }
    .HDIT-bottom-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 2rem;
    }

    @media (width >= 768px) {
        .showcase-side {
            display: block;
            width: 203px;
            height: 410px;
            object-fit: cover;
            flex-shrink: 0;
        }
    }

    @media (width >= 768px) {
        .image-stack {
            position: relative;
            width: 203px;
            height: 410px;
            flex-shrink: 0;
        }
    }
    .HDIT-bottom-container {

        #HDIT-description-tablet {
            font-size: 16px;
            font-weight: 400;
            color: var(--color-description);
            width: 100%;
            max-width: 430px;

            @media (width >= 1200px) {
                display: none;
            }
        }
        
        .HDIT-tablet {
            width: 100%;
            max-width: 500px;
            display: flex;

            @media (width >= 1200px) {
                display: none;
            }
        }

        .HDIT-tablet-step {
            display: none;

            @media (width >= 768px) {
                display: inline;
            }
            @media (width >= 1200px) {
                display: none;
            }
        }

    }

    @media (width >= 1200px) {
        .image-stack-container {
            gap: 5rem;
        }
        .image-stack {
            position: relative;
            width: 330px;
            height: 665px;
        }
        .mobile-stack {
            position: absolute;
            object-fit: contain;
        }

        .showcase-side {
            width: 330px;
            height: 665px;
        }
        .HDIT-desktop {
            display: flex;
            flex-direction: column;
            max-width: 640px;
            height: auto;
        }
    }
}



#appFeatures {
    display: none;
    width: 100%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 5rem;

    .app-feature-container {
        display: flex;
        flex-direction: column;
    }

    .app-feature-box {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5rem;
    }
    .app-feature-boxcontainer {
        display: flex;
        flex-direction: row;
    }
    .app-feature-bottom-boxes {
        display: flex;

    }
    .app-feature-bottom-box {
        display: flex;
        flex-direction: column;
        max-width: 245px;
    }
    .app-feature-icon {
        width: 20px;
    }

    .app-feature-text {
        display: flex;
        flex-direction: column;
        align-items:  left;
    }
        .app-feature-iconbox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        border-radius:  8px;
        background-color: var(--feature-icon-box);
        margin-top: 1rem;
    }

    .app-feature-title {
        color: var(--app-feature-title);
        font-size: 2rem;
        font-weight: 800;
        max-width: 417px;
    }

    .app-feature-showcase {
        width: 450px;
        height: auto;
    }
    .app-feature-text p {
        color: var(--color-description);
        margin-top: 0;
        display: flex;
    }

    .app-feature-btn {
        display: flex;
    }
}
    @media (width >= 1200px) {
        #appFeatures {
            display: flex;
            justify-content: center;
        }
    }



.testimonials-bg {
    background-color: var(--testimonials-bg);
}
.testimonials {
    display: none;
    justify-content: center;
    width: 100%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    

    .testimonials-container {
        display: flex;
        gap: 4rem;
    }

    .testimonials-container h2 {
        font-size: 40px;
        font-weight: 800;
        max-width: 305px;
    }
    .testimonials-boxes {

        display: flex;
        gap: 2rem;
    }
    .testimonials-box {
        background-color: var(--testimonials-box);
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 8px;
        max-width: 400px;
        height: 310px;
        padding: 24px;
        padding-top: 48px;
        box-shadow: 0 8px 10px 1px var(--box-shadow);
    }
    .testimonials-box p {
        color: var(--color-body-text);
    }

    .testimonials-emoji {
        width: 48px;
        height: auto;
    }
    
    .testimonials-person {
        display: flex;
        gap: 0.5rem;
    }

    .testimonials-person img {
        margin-bottom: 1rem;
    }
    .testimonials-person-text h5 {
        margin: 0;
        font-size: 16px;
    }

    .testimonials-person-text p {
        margin-top: 0;
        margin-bottom: 1rem;
        font-size: 14px;
        color: var(--color-muted-text);
    }
    .testimonials-quote-icon {
        width: 66px;
        height: auto;
        display: flex;
        position: relative;
        top: -50px
    }

    .testimonials-box-content {
        max-width: 330px;
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        
    }
    @media (width >= 1200px) {
        display: block;
    }
}